<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Template Page</title>
</head>
<body>
<h1>Footer 1 using <b>include</b> keyword</h1>
<footer class="host-tag" th:include="footer::footer-include" th:style="'background-color: coral'">

</footer>
<hr>
<h1>Footer 2 using <b>replace</b> keyword</h1>
<footer class="host-tag" th:replace="footer::footer-replace">

</footer>
<hr>
<h1>Footer 1 using <b>insert</b> keyword</h1>
<footer class="host-tag" th:insert="footer::footer-insert(${subtitle}, ${title})" th:style="'background-color: red'">
</footer>
<hr>
</body>
</html>